.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

/* .style-checkbox[type="checkbox"] + label:active {
    background: red;
} */

.filled-in-li {
  display: inline-block !important;
}



video {
  height: 100vh;
  width: 100%;
}

.videodiv {
  margin: 0;
  padding: 0;
  z-index: -100;
  overflow-y: hidden;

}

#videoRow {
   text-align: center;
}

#background-video {
  object-fit: cover;
}

.alertDiv {
  display: inline-block;
  width: 20%;
  height: 100%;
  position: relative;
  /*top: 10px;*/
  /*justify-content: flex-start;*/
}

.accordionDiv {
  display: inline-block;
  width: 80%;
  height: 100vh;
  top: -250px;
  z-index: 1
}

.accordionPage {
  text-align: center;
  height: 100vh;
  position: relative;
  top: -20px;
}

form {
  width: 50vw;
  padding: 60px 0 0 0;
  margin: 0 auto;
}

.text {
  text-align: left;
}

body {
  max-height: 100vw;
}

#navbar {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: white;
  z-index: 100;
  font-weight: 800;
}

.container {
  object-fit: contain;
  width: auto;
  height: auto;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.locationform {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 1000;
  font-size: 20px;
  font-weight: 800;
  color: #000000;
}

.location-image {
  max-height: 400px;
  max-width: 100%;
}

.image {
  max-height: 100%;
  clip-path: inset(0 0 50% 0);
}

.location-title {
  z-index: 10;
  font-size: 80px;
  color: white;
  font-weight: 800;
  text-align: left;
  position: absolute;

}

.collapsible-accordion {
  text-align: left !important;
}


.abouttext {
  color: #000000 !important;
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.fab {
  color: #000000;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}

.alertcol {
  margin-left: 10px;
  text-align: center;
}

.supplylistcol {
  color: #000000;
}

.supplyheader {
  color: #FFFFFF;
  text-align: center;
}

.userlistcol {
  color: #000000;
}

.supplylistitems {
  color: #FFFFFF;
}

.allsupplyheader {
  color: #000000;

.yourMom {
  height: 100%;
  overflow: scroll;
  margin-top: 50px;
  padding: 0 10px;
  color: red;
}

.yourDad {
  opacity: 0.5;
  background-color: grey;

}

.loginbutton {
  font-family: 'Raleway', sans-serif;
  color: black;
  margin: 10px 0 10px 0;
}

#loginform {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

#signupform {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}
