.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.grey {
  background-color: grey;
}

video {
  height: 100vh;
  width: 100%;
}

.videodiv {
  margin: 0;
  padding: 0;
  z-index: -100;
  overflow-y: hidden;

}

#videoRow {
   text-align: center;
}

#background-video {
  object-fit: cover;
}

.alertDiv {
  display: inline-block;
  width: 20%;
  height: 100%;
  position: relative;
  /*top: 10px;*/
  /*justify-content: flex-start;*/
}

.accordionDiv {
  display: inline-block;
  width: 80%;
  height: 100vh;
  top: -250px;
  z-index: 1
}

.accordionPage {
  text-align: center;
  height: 100vh;
  position: relative;
  top: -20px;
}

form {
  width: 50vw;
  padding: 60px 0 0 0;
  margin: 0 auto;
}

.text {
  text-align: left;
}

body {
  max-height: 100vw;
}

#navbar {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: white;
  z-index: 100;
}


.container {

  object-fit: contain;
  width: auto;
  height: auto;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.locationform {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 1000;
  font-size: 20px;
  color: #000000;
}

.location-image {
  max-height: 400px;
  max-width: 100%;
}

.image {
  max-height: 100%;
  clip-path: inset(0 0 50% 0);
}

.location-title {
  z-index: 10;
  font-size: 80px;
  color: white;
  font-weight: 800;
  text-align: left;
  position: absolute;

}

.collapsible-accordion {
  text-align: left !important;
}

.yourMom {
  height: 100%;
  overflow: scroll;
  margin-top: 50px;
  padding: 0 10px;
  color: red;
}

.yourDad {
  opacity: 0.5;
  background-color: grey;
}
