.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

.grey {
  background-color: grey;
}

.location-image {
  max-height: 400px;
  max-width: 100%;


}

.image {
  max-height: 100%;
  clip-path: inset(0 0 50% 0);
}

.location-title {
  z-index: 10;
  font-size: 80px;
  color: white;
  font-weight: 800;
  text-align: left;
  position: absolute;


}
