.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background: url('image/space-dark_960.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

}

label {
  color: white;
}

body {
  overflow-y: hidden;
}


.filled-in-li {
  display: inline-block !important;
  color: white;

}

video {
  height: 100vh;
  width: 100%;
}

.videodiv {
  margin: 0;
  padding: 0;
  z-index: -100;
  overflow-y: hidden;

}

/* #videoRow {
   text-align: center;
} */

#background-video {
  object-fit: cover;
}

.alertDiv {
  display: inline-block;
  width: 20%;
  height: 100%;
  position: relative;
  /*top: 10px;*/
  /*justify-content: flex-start;*/
}

.accordionDiv {
  display: inline-block;
  width: 80%;
  height: 100vh;
  top: -250px;
  z-index: 1
}

.accordionPage {
  text-align: center;
  height: 100vh;
  position: relative;
  top: -20px;
}

form {
  width: 50vw;
  padding: 60px 0 0 0;
  margin: 0 auto;
}

.text {
  text-align: left;
}

body {
  max-height: 100vw;
}

.brand-logo {
 left: 2%;
}

#navbar {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: white;
  z-index: 100;
  font-weight: 800;
}

.container {
  object-fit: contain;
  width: auto;
  height: auto;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.locationform {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 1000;
  font-size: 20px;
  font-weight: 800;
  color: #000000;
  text-align: center;
}

.location-image-div {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.location-image-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.4;
  z-index: 2;
}

.location-image {
  max-height: 400px;
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.location-title {
  z-index: 10;
  font-size: 90px;
  color: white;
  font-weight: 800;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 1%;
}

.image {
  max-height: 100%;
  clip-path: inset(0 0 50% 0);
}

.event-text {
  max-height: 250px;
  overflow: scroll;
}

.collapsible-accordion {
  text-align: left !important;
}


.abouttext {
  color: #000000 !important;
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.fab {
  color: #000000;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}

.alertcol {
  margin-left: 10px;
  text-align: center;
}

.supplylistcol {
  color: #000000;
}

.supplyheader {
  color: #FFFFFF;
  text-align: center;
}

.userlistcol {
  color: #000000;
}

.supplylistitems {
  color: #FFFFFF;
}

.allsupplyheader {
  color: #000000;
}

.yourMom {
  height: 100%;
  overflow: scroll;
  margin-top: 50px;
  padding: 0 10px;
  color: red;
}

.yourDad {
  /* opacity: 0.5; */
  background-color: transparent;

}


.collapsible-header {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.loginbutton {
  font-family: 'Raleway', sans-serif;
  color: black;
  margin: 10px 0 10px 0;
}

#loginform {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

#signupform {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;

}

.yourBrotherFromAnotherMother {
  height: 100%;
  overflow: scroll;
  margin-top: 50px;
  padding: 0 10px;
}
