.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.grey {
  background-color: grey;
}

/*video {
  height: 100vh;
  width: 100%;
}

.videodiv {
  margin: 0;
  padding: 0;
  z-index: -100;
  overflow-y: hidden;
}

#background-video {
  object-fit: cover;
}*/

body {
  max-height: 100vw;
}

nav {
  font-family: 'Raleway', sans-serif;
}


.container {

  object-fit: contain;
  width: auto;
  height: auto;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.locationform {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 1000;
  font-size: 20px;
  color: #000000;
}

.location-image {
  max-height: 400px;
  max-width: 100%;
}

.image {
  max-height: 100%;
  clip-path: inset(0 0 50% 0);
}

.location-title {
  z-index: 10;
  font-size: 80px;
  color: white;
  font-weight: 800;
  text-align: left;
  position: absolute;

}

.collapsible-accordion {
  text-align: left !important;
}
