body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*CSS for image accordion */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #212121;
  line-height: 1.4;
}

.container {
  width: 1100px;
  margin: 50px auto 0;
}
.container h1 {
  font-size: 25px;
  text-align: center;
}
.container h1 span {
  position: relative;
  font-family: 'Merienda', cursive;
  color: #CA9CE1;
}
.container h1 span:after {
  position: absolute;
  left: 0;
  bottom: -10px;
  content: "~";
  width: 100%;
  text-align: center;
}
.container .subheader {
  text-align: center;
  margin-top: 15px;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 800px;
  margin: 30px auto 0;
}
.link a {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 40px;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.link a:hover {
  color: #CA9CE1;
}
.link a:last-child {
  margin-right: 0;
}
.link a i {
  color: #CA9CE1;
  margin-right: 9px;
  font-size: 30px;
}

.slider-containers {
  width: 100%;
  margin-top: 60px;
}

.slider-container {
  margin-bottom: 60px;
}
.slider-container h2 {
  text-align: center;
}

.flexbox-slider {
  margin-top: 50px;
}

/*slide styles !!!YOU NEED THEM */
.flexbox-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  visibility: hidden;
}
.flexbox-slider .flexbox-slide {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  width: 20%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  visibility: visible;
}
.flexbox-slider .flexbox-slide:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  opacity: 0;
}
.flexbox-slider .flexbox-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
.flexbox-slider .flexbox-slide .text-block {
  position: absolute;
  left: 30px;
  bottom: 30px;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
}
.flexbox-slider .flexbox-slide .text-block h3 {
  font-size: 20px;
  font-weight: 700;
}
.flexbox-slider:hover .flexbox-slide:hover {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 80%;
}

/* effect 1 styles */
.flexbox-slider.flexbox-slider-1 .flexbox-slide .text-block {
  bottom: 60px;
}
.flexbox-slider.flexbox-slider-1:hover .flexbox-slide:hover .text-block {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

/* effect 2 styles */
.flexbox-slider.flexbox-slider-2 .flexbox-slide .text-block {
  left: -60px;
}
.flexbox-slider.flexbox-slider-2:hover .flexbox-slide:not(:hover):after {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}
.flexbox-slider.flexbox-slider-2:hover .flexbox-slide:hover .text-block {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1.82);
          transition-timing-function: cubic-bezier(0, 0, 0, 1.82);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  left: 30px;
  opacity: 1;
  visibility: visible;
}

/* effect 3 styles */
.flexbox-slider.flexbox-slider-3 .flexbox-slide:after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.flexbox-slider.flexbox-slider-3 .flexbox-slide .text-block {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.flexbox-slider.flexbox-slider-3:hover .flexbox-slide:hover:after {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.flexbox-slider.flexbox-slider-3:hover .flexbox-slide:hover .text-block {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  visibility: visible;
}

/* effect 4 styles */
.flexbox-slider.flexbox-slider-4 .flexbox-slide:after {
  top: -100%;
}
.flexbox-slider.flexbox-slider-4 .flexbox-slide .text-block {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.flexbox-slider.flexbox-slider-4:hover .flexbox-slide:not(:hover):after {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  top: 0;
  opacity: 1;
  visibility: visible;
}
.flexbox-slider.flexbox-slider-4:hover .flexbox-slide:hover .text-block {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

/* effect 5 styles */
.flexbox-slider.flexbox-slider-5 .flexbox-slide .text-block {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}
.flexbox-slider.flexbox-slider-5:hover .flexbox-slide:hover .text-block {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.flexbox-slider.flexbox-slider-5:hover .flexbox-slide:hover:after {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  opacity: 1;
  visibility: visible;
}

