/*CSS for image accordion */
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #212121;
  line-height: 1.4;
}

.container {
  width: 1100px;
  margin: 50px auto 0;
}
.container h1 {
  font-size: 25px;
  text-align: center;
}
.container h1 span {
  position: relative;
  font-family: 'Raleway', sans-serif;
  color: #CA9CE1;
}
.container h1 span:after {
  position: absolute;
  left: 0;
  bottom: -10px;
  content: "~";
  width: 100%;
  text-align: center;
}
.container .subheader {
  text-align: center;
  margin-top: 15px;
}


.slider-containers {
  width: 100%;
  margin-top: 60px;
}

.slider-container {
  margin-bottom: 60px;
}
.slider-container h2 {
  text-align: center;
}

.flexbox-slider {
  margin-top: 50px;
}

/*slide styles !!!YOU NEED THEM */
.flexbox-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}
.flexbox-slider .flexbox-slide {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  width: 20%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  visibility: visible;
}
.flexbox-slider .flexbox-slide:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  opacity: 0;
}
.flexbox-slider .flexbox-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
.flexbox-slider .flexbox-slide .text-block {
  position: absolute;
  left: 30px;
  bottom: 30px;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
}
.flexbox-slider .flexbox-slide .text-block h3 {
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
}
.flexbox-slider:hover .flexbox-slide:hover {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 80%;
}

/* effect 1 styles */
.flexbox-slider.flexbox-slider-1 .flexbox-slide .text-block {
  bottom: 60px;
}
.flexbox-slider.flexbox-slider-1:hover .flexbox-slide:hover .text-block {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.verticalText {
  position: absolute;
  text-align: left;
  /*left: 10px;*/
  top: 60px;
  z-index: 4;
  /*visibility: hidden;*/
  opacity: 1;

  color: white;
  font-size: 50px;
  transform: rotate(90deg);
  font-weight: bold;
}

.verticalText-Hurricane {
  position: absolute;
  text-align: left;
  /*left: 10px;*/
  top: 80px;
  z-index: 4;
  /*visibility: hidden;*/
  opacity: 1;

  color: white;
  font-size: 50px;
  transform: rotate(90deg);
  font-weight: bold;
}

.verticalText-Earthquake {
  position: absolute;
  text-align: left;
  left: -40px;
  top: 90px;
  z-index: 4;
  /*visibility: hidden;*/
  opacity: 1;

  color: white;
  font-size: 50px;
  transform: rotate(90deg);
  font-weight: bold;
}

.flexbox-slider.flexbox-slider-1:hover .flexbox-slide:hover .verticalText {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.flexbox-slider.flexbox-slider-1:hover .flexbox-slide:hover .verticalText-Earthquake {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.flexbox-slider.flexbox-slider-1:hover .flexbox-slide:hover .verticalText-Hurricane {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 0;
  visibility: hidden;
}
